*.exe
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.zip
*.suo
*.ncb
*.vcproj.*
*.vcxproj.user
*.pkg
*.dmg
*.depend
*.layout
*.mode1v3
*.db
*.LSOverride
xcuserdata/
*.xcuserdata/
*.xcuserdatad/
build*
ipch/*
gui/*

Icon?
.DS_Stor*

## VS
.vs/
*.tlog/
*.user
